<%- include("header") -%>
        <main class="home-wrapper">
                <div class="homeContent">
                    <h1>Welcome <%= name %> for</h1>
                    <h1>Seamless Music App</h1>
                    <p>Works like exactly how you want it to work</p>
                    <button type="submit"><a href="/upload">Start here</a></button>
                </div>
                <div class="homePic">
                    <img src="images/music-1.svg" alt="">
                </div>
        </main>
<%- include("footer") -%>
